<div>
  <textarea [(ngModel)]="dynamicText"></textarea>
  <input (click)="onClick()" type="submit" value="OK"/>
  <div [innerHtml]="data"></div>
</div>
<pre>
<a name='link1' title='go to bottom' (click)="goTo('link2')">Top</a>



















































































































































<a name='link2' title='go to top' (click)="goTo('link1')">Bottom</a>









































































</pre>
<router-outlet></router-outlet>
