*
!/README.md
!/.gitignore
!/*.json
!/*.js
!/*.xml
!/src/
!/src/**/
!/src/**/*.ts
!/src/**/*.css
!/src/**/*.scss
!/src/**/*.html
!/src/**/*.json
!/src/**/*.ico
!/src/**/*.wav
!/src/**/*.svg
!/e2e/
!/e2e/**/
!/e2e/**/*.ts
!/e2e/**/*.css
!/e2e/**/*.scss
!/e2e/**/*.html
!/e2e/**/*.json
!/e2e/**/*.ico
!/e2e/**/*.svg
!/lib/
!/lib/**/
!/lib/**/*.js