
<h1>Upload and Download File</h1>

<input #myInput1 type="file" id="customFile" [disabled]="!enFirst" (change)="selectFile($event)"/><br/>
<input #myInput2 type="file" id="customFile2" [disabled]="!enSecond" (change)="selectFile2($event)"/><br/>
<button class="btn btn-primary" [disabled]="!selectedFiles ||!selectedFiles2" (click)="upload()">Save File</button>
<button class="btn btn-primary" [disabled]="!saved" (click)="reset()">Reset</button>
<button class="btn btn-primary download" [disabled]="!this.enViewFile" (click)="downloadFile()">View File</button>
<br/>
{{this.progress.percentage}}