<svg width="512" height="320">
<g lines [y]="64"></g>
<g lines [y]="192"></g>
<g *ngIf="heightNote&gt;-1">
<text *ngIf="diese" [attr.x]="0" [attr.y]="heightNote">#</text>
<svg *ngIf="nbDash===1">
<svg:path attr.d="M {{2+off}} {{heightNote}} L {{28+off}} {{heightNote}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
</svg>
<svg *ngIf="nbDash===1.5">
<svg:path attr.d="M {{2+off}} {{heightNote+8}} L {{28+off}} {{heightNote+8}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
</svg>
<svg *ngIf="nbDash===-1.5">
<svg:path attr.d="M {{2+off}} {{heightNote-8}} L {{28+off}} {{heightNote-8}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
</svg>
<svg *ngIf="nbDash===-2">
<svg:path attr.d="M {{2+off}} {{heightNote}} L {{28+off}} {{heightNote}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
<svg:path attr.d="M {{2+off}} {{heightNote-16}} L {{28+off}} {{heightNote-16}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
</svg>
<svg *ngIf="nbDash===2">
<svg:path attr.d="M {{2+off}} {{heightNote}} L {{28+off}} {{heightNote}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
<svg:path attr.d="M {{2+off}} {{heightNote+16}} L {{28+off}} {{heightNote+16}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/>
</svg>
<circle [attr.cx]="12+off" [attr.cy]="heightNote" r="8"/>
<svg:path attr.d="M {{20+off}} {{heightNote}} L {{20+off}} {{heightNote-32}}" [attr.stroke]="'black'" [attr.fill]="'transparent'"/></g>
</svg>