*
!/src/
!/src/**
!/domain/
!/domain/pom.xml
!/domain/src/
!/domain/src/**
!/implem/
!/implem/pom.xml
!/implem/src/
!/implem/src/**
!/main/
!/main/pom.xml
!/main/src/
!/main/src/main/
!/main/src/main/java/
!/main/src/main/java/**
!/pom.xml
!/.gitignore