*
!/core/
!/core/pom.xml
!/core/sub1/
!/core/sub1/pom.xml
!/core/sub1/src/
!/core/sub1/src/**
!/core/sub2/
!/core/sub2/pom.xml
!/core/sub2/src/
!/core/sub2/src/**
!/main/
!/main/pom.xml
!/main/app1/
!/main/app1/pom.xml
!/main/app1/src/
!/main/app1/src/**
!/main/app2/
!/main/app2/pom.xml
!/main/app2/src/
!/main/app2/src/**
!/main_join/
!/main_join/arch.xml
!/main_join/pom.xml
!/main_join/main_join1/
!/main_join/main_join1/pom.xml
!/main_join/main_join2/
!/main_join/main_join2/pom.xml
!/pom.xml
!/other/
!/other/arch.xml
!/other/sample.txt
!/.gitignore