<part [note]="state"></part>
<br/>
<svg width="580" height="100">
<svg *ngFor="let t of [].constructor(4);let index = index">
<g left_key [nb]="NoteUtils.REGULS[0]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="0+140*index" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[0]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="0+140*index" (newItemEvent)="onClick($event)"></g>
<g center_key [nb]="NoteUtils.REGULS[1]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="20+140*index" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[1]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="20+140*index" (newItemEvent)="onClick($event)"></g>
<g right_key [nb]="NoteUtils.REGULS[2]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="40+140*index" (newItemEvent)="onClick($event)"></g>
<g left_key [nb]="NoteUtils.REGULS[3]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="60+140*index" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[2]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="60+140*index"(newItemEvent)="onClick($event)"></g>
<g center_key [nb]="NoteUtils.REGULS[4]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="80+140*index" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[3]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="80+140*index" (newItemEvent)="onClick($event)"></g>
<g center_key [nb]="NoteUtils.REGULS[5]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="100+140*index" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[4]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="100+140*index" (newItemEvent)="onClick($event)"></g>
<g right_key [nb]="NoteUtils.REGULS[6]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="120+140*index" (newItemEvent)="onClick($event)"></g>
</svg>
<g upper_key [nb]="49" [x]="560" (newItemEvent)="onClick($event)"></g>
</svg>
<br/>
<input class="form-control" type="checkbox" [(ngModel)]="saveLines"/>__<br/>
<svg class="link" (click)="saveLast()" width="50" height="16"><text x="0" y="16">SVG</text></svg><br/>
{{state}}<br/>
{{octave}}<br/>
{{tempo}}