<part [notesOnScreen]="notesOnScreen"></part>
<br/>
<svg [attr.width]="NoteUtils.WHITE_KEY_WIDTH*((NoteUtils.MAX_OCT-NoteUtils.MIN_OCT)*NoteUtils.REGULS.length+1)" [attr.height]="NoteUtils.WHITE_KEY_HEIGHT">
<svg *ngFor="let t of [].constructor(NoteUtils.MAX_OCT-NoteUtils.MIN_OCT);let index = index">
<g left_key [nb]="NoteUtils.REGULS[0]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*NoteUtils.REGULS.length*index" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[0]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*NoteUtils.REGULS.length*index" (newItemEvent)="onClick($event)"></g>
<g center_key [nb]="NoteUtils.REGULS[1]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+1)" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[1]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+1)" (newItemEvent)="onClick($event)"></g>
<g right_key [nb]="NoteUtils.REGULS[2]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+2)" (newItemEvent)="onClick($event)"></g>
<g left_key [nb]="NoteUtils.REGULS[3]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+3)" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[2]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+3)"(newItemEvent)="onClick($event)"></g>
<g center_key [nb]="NoteUtils.REGULS[4]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+4)" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[3]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+4)" (newItemEvent)="onClick($event)"></g>
<g center_key [nb]="NoteUtils.REGULS[5]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+5)" (newItemEvent)="onClick($event)"></g>
<g black_key [nb]="NoteUtils.DIESES[4]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+5)" (newItemEvent)="onClick($event)"></g>
<g right_key [nb]="NoteUtils.REGULS[6]+NoteUtils.NOTES_PER_OCTAVE*index" [x]="NoteUtils.WHITE_KEY_WIDTH*(NoteUtils.REGULS.length*index+6)" (newItemEvent)="onClick($event)"></g>
</svg>
<g upper_key [nb]="NoteUtils.UPP_DO_POS" [x]="NoteUtils.WHITE_KEY_WIDTH*NoteUtils.REGULS.length*(NoteUtils.MAX_OCT-NoteUtils.MIN_OCT)" (newItemEvent)="onClick($event)"></g>
</svg>
<br/>
<svg class="link" (click)="saveLast()" width="50" height="16"><text x="0" y="16">SVG</text></svg><br/>
<svg class="link" (click)="res()" width="50" height="16"><text x="0" y="16">=&gt;0</text></svg><br/>
{{state}}<br/>
{{octave}}<br/>
{{tempo}}